__pycache__/
.ipynb_checkpoints/
.venv/
.env
data/raw/
actions-runner/
data/
plots/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl